<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="image_categorizer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="image_categorizer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <image_categorizer.Properties.Settings>
            <setting name="InputDirectory" serializeAs="String">
                <value />
            </setting>
            <setting name="OutputDirctory" serializeAs="String">
                <value />
            </setting>
            <setting name="DirectoryNameRule" serializeAs="String">
                <value>None,None,None,None</value>
            </setting>
            <setting name="FileNameRule" serializeAs="String">
                <value>None,None,None,None</value>
            </setting>
            <setting name="DirectoryRuleIndexes" serializeAs="String">
                <value>1,2,3,4</value>
            </setting>
            <setting name="FileNameRuleIndexes" serializeAs="String">
                <value>1,2,3,4</value>
            </setting>
            <setting name="IsFirstRun" serializeAs="String">
                <value>True</value>
            </setting>
        </image_categorizer.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <image_categorizer.Properties.Settings>
            <setting name="IcTagDBName" serializeAs="String">
                <value>ic.db</value>
            </setting>
            <setting name="IcTagDBPassword" serializeAs="String">
                <value>ic4t@g</value>
            </setting>
            <setting name="GeoNameDBName" serializeAs="String">
                <value>allcountries.db</value>
            </setting>
            <setting name="GeoNameDBPassword" serializeAs="String">
                <value>#naGazetterMe</value>
            </setting>
        </image_categorizer.Properties.Settings>
    </applicationSettings>
</configuration>